html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d9d9d9;
}
}
.page-wrap p {
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.main-section {
    max-width: 55vw;
    margin: 0 auto;
    text-align: left;
    justify-content: center;
    display: block;
}
.main-section p, li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.25;
}


code {
    display: block;
    text-align: left;
    justify-content: left;
    white-space: pre-wrap;
    line-height: 1.25;
    position: relative;
    background-color: silver;
    margin: 0 auto;
    border-radius: 2px;
    max-width: 40vw;
    width: 30vw;
    
}


.nav{
    border-bottom: 1px solid black;
    box-shadow: 2px 2px lightgray;
    text-align: left;
    height: 50px;
    max-height: 100vh;
    position: fixed;
    overflow: visible;
}
.nav ul {
   
}
.nav li{
    list-style: none;
    text-align: left;
    border-bottom: 1px solid black;
    font-size: small;
}
.nav a:hover {
    color: red;
}
label {
    margin: 0 40px 0 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 70px;
    display: none;
    width: 26px;
    float: left;
}
.menu {
    margin: 0 30 0 0
}
.menu a {
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
}

#toggle {
    display: none;
}


header {
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.ref-list {
    list-style: none;
    text-align: left;
    padding-right: 3vw;
}
.ref-list li {
    text-decoration: none;
}


@media only screen and (max-width: 1000px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        top: 0;
        text-align: left;
        display: block;
        max-width: 99vw;  
        max-height: 200px;
        overflow: visible;
    }
    .menu a {
        text-align: center;
        border-bottom: 1px solid #eaeaeb;
        
    }
    #toggle:checked + .menu {
        display: none;
    }
    code {
        font-size: small;
        width: 80vw;
        white-space: pre;
        padding-right: 39vw;
        margin-left: -20px;
    }
    ul#nav-list {
        min-width: 80vw;
        list-style: none;
    }
    ul#nav-list li {
        display: inline;
        border: 1px solid black;
        padding: 1px 1px 1px 1px;
    }
    
    .pad-top {
        padding-top: 15vh;
    }